@use '../base/variables' as v;
@use '../base/mixins' as m;

*, *::before, *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: v.$body-font;
    color: v.$silk-stone;
    font-size: 1.6rem;
    min-height: 100vh;
    background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
    background-repeat: no-repeat;

    @include m.desktop{
        background: url(../../assets/images/bg-pattern-desktop.svg);
        background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
        display: grid;
        place-items: center;
    }
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

/* custom classes */
#root {
    min-width: 375px;
    max-width: 1440px;
}

.container {
    padding: 0 3.2rem;
}