/* Fonts */
$body-font: 'Josefin Sans', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Primary Colors */
$silk-stone: hsl(0, 36%, 70%);
$fiery_salmon: hsl(0, 93%, 68%);

/* Neutral Colors */
$desert-shadow: hsl(0, 6%, 24%);

/* Gradients */
$gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
$gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);



