@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.coming-soon {

    &__form {
        margin-top: 3.2rem;

        @include m.desktop{
            width: 44.5rem;
            margin-top: 4rem;
            padding: 0;
        }
    }

    &__field {
        width: 100%;
        height: auto;
        position: relative;

        & label {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
    }

    &__input {
        width: 100%;
        height: 4.8rem;
        border: 1px solid v.$silk-stone;
        border-radius: 2.8rem;
        padding: 1.1rem 2.4rem .9rem 2.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 28px;
        color: v.$desert-shadow;

        @include m.desktop{
            height: 5.6rem;
            font-size: 1.6rem;
            padding: 1.5rem 0 1.3rem 3.2rem;
        }

        &:focus {
            border: 1px solid v.$silk-stone;
            outline: none;
        }

        &::placeholder {
            color: v.$silk-stone;
            opacity: 0.5;

        }

        &--error {
            border: 2px solid v.$fiery-salmon;
            background-image: url('../../assets/images/icon-error.svg');
            background-repeat: no-repeat;
            background-position: 21.5rem 1rem;

            @include m.desktop{
                background-repeat: no-repeat;
                background-position: 30.5rem 1.5rem;
            }
        }
    }

    &__message {
        color: v.$fiery_salmon;
        font-size: 1.3rem;
        margin-top: .8rem;
        margin-left: 2.4rem;
        text-align: left;
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        height: 4.8rem;
        border: none;
        border-radius: 2.8rem;
        background: v.$gradient-2;
        box-shadow: 14px 0px 20px 0px rgba(198,110,110,0.23);
        -webkit-box-shadow: 14px 0px 20px 0px rgba(198,110,110,0.23);
        -moz-box-shadow: 14px 0px 20px 0px rgba(198,110,110,0.23);

        @include m.desktop{
            height: 5.6rem;
            width: 10rem;
        }

        & img {
            width: 0.884rem;
            height: 1.767rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}