@use '../src/scss/base';
@use './scss/base/variables' as v;
@use './scss/base/mixins' as m;

.coming-soon {
    display: grid;

    @include m.desktop{
        grid-template-columns: 1fr 610px;
        height: 800px;
    }

    &__header {
        padding: 31px 0 32.11px 32px;

        @include m.desktop{
            padding: 75px 0 0 165px;
        }

        & img {
            width: 10rem;

            @include m.desktop{
                width: 158px;
            }
        }
    }

    &__hero {
        width: 100%;
        height: 25rem;
        background-image: url(./assets/images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @include m.desktop{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            background-image: url(./assets/images/hero-desktop.jpg);
            height: 100%;
        }
    }

    &__content {
        margin-top: 6.4rem;
        margin-bottom: 3.2rem;
        padding: 0 3.2rem;

        @include m.desktop{
            margin: 0 auto;
            padding: 0 0 0 165px;
        }
    }

    &__title {
        color: v.$desert-shadow;
        font-size: 4rem;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 10.825px;
        text-align: center;

        @include m.desktop{
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 71px;
            letter-spacing: 17.321px;
            text-align: left;
        }

        & span {
            color: v.$silk-stone;
            font-weight: 300;

            @include m.desktop{
                font-weight: 300;
                line-height: 71px;
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 22px;
        margin-top: 1.6rem;
        margin-bottom: 0rem;
        text-align: center;

        @include m.desktop{
            margin-top: 3.2rem;
            width: 44.5rem;
            color: var(--silk_stone, #CE9898);
            font-family: Josefin Sans;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
            text-align: left;
        }
    }
}
